.container {
    height: 100%;
    width: 85%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    color: #F5F5F5;
}

.title {
    font-family: Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    color: #000000;
}

.products {
    list-style-type: none;
    display: flex;
    padding: 0 5px;
    flex-wrap: wrap;
}

.product {
    margin: 0 10px 20px 10px;
    width: 380px;
    min-height: 482px;
    left: 370px;
    top: 152px;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
    border-radius: 12px;
    padding-bottom: 24px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.product__image {
    background-image: url("img/Image.jpg");
    height: 213.75px;
    left: 0%;
    right: 0%;
    top: 0px;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.product__chips {
    position: relative;
    top: 16px;
    display: flex;
}

.product__chip {
    margin-left: 16px;
    padding: 0px 16px;
    line-height: 24px;
    border-radius: 8px;
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    box-sizing: border-box;
    color: #2F2F2F;
}

.product__chip_pink {
    background: #FDCFF3;
}

.product__chip_orange {
    background: #FFCF56;
}

.product__title {
    font-family: Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #2F2F2F;
    margin: 24px 24px 16px 24px;
}

.product__description {
    font-family: Arial;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F2F2F;
    margin: 0px 24px;
}

.product__information {
    margin-bottom: 24px;
}

.product__button {
    min-height: 48px;
    min-width: 332px;
    border-radius: 8px;
    margin: 0 auto;
    display: block;
    font-family: Arial;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;


}

.product__button_disabled {
    background: #4E4E4E;
    border: 1px solid #4E4E4E;
    color: white;
}

.product__button_active {
    border: 2px solid #42940F;
    background-color: white;
    color: #42940F;
}

.product__button_active:hover {
    background: #42940F;
    color: white;
}

.product__button_active:active {
    background: #1F5200;
    border: 2px solid #1F5200;
    color: white;
}
