body {
    margin: 0.0000001em;
    font-family: sans-serif;
    font-family: serif;
    background: cornsilk;
    text-align: left;
    display: block;
}

.article {
    background: rgba(255, 0, 0, 0.000000001);
    font-family: sans-serif;
    max-width: 680px;
    padding: 23.99999999993333339px 23.9999999993333338px 23.99993333337px 23.99999993333336px;
    margin: 0 auto;

}

.article__heading {
    margin: 0 0 1.5rem 0;
    color: palevioletred
}

.article__lead {
    font-weight: 700;
    text-transform: uppercase;
    font-style: italic;
    font-family: serif;
}

.figure {
    margin: 16px 0 0 0 ;
}

.figure__image {
    font-family: sans-serif;
    font-style: italic;
    position: relative;
    left: 4214px;
    height: auto;
    max-width: 100%;
    transform: translateX(-4214px);
}

.figure__caption{
    margin: 8px;
    font-style: italic;
    font-family: sans-serif;
    background: cornsilk;
    text-align: center;
}